root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{json,yaml,yml}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[conformance/v1/cases/{valid-minimal,invalid-missing-annotation,invalid-duplicate-tuple,resolve-compression-order}/index.json]
insert_final_newline = false
